$peachPrimary: #ff796b;
$peachSecondaryLight: #ffe2e0;
$peachSecondary: #ffb3ae;

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  body {
    background: $peachPrimary;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;

    .page-header {
      display: flex;
      text-align: center;
      padding: 20px;
      position: fixed;
      width: 100%;
      .page-header-text {
        font-size: 2.625rem;
      }
    }
    .page-block {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      padding-top: 60px;
      .page-block__content {
        padding: 0 10px;
        .summary-content {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          display: none;
          .summary-content-text {
            font-size: 1.60rem;
          }
          button {
            margin-top: 10px;
            svg {
              fill: $peachPrimary;
            }
            &:hover {
              border: 2px solid $peachSecondaryLight;
              transform: scale(1.1);
              svg {
                fill: $peachSecondaryLight;
              }
            }
          }
        }
      }
      .flashcard {
        width: 100%;
        .flashcard-box__shake {
          animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
          transform: translate3d(0, 0, 0);
          backface-visibility: hidden;
          perspective: 1000px;
        }
        .flashcard-box {
          width: 100%;
          text-align: center;
          .flashcard-box__hole {
            background: #ffe2e0;
            width: 100%;
            border: 5px solid #ffb3ae;
            box-sizing: border-box;
            border-radius: 8px;
            h2 {
              color: $peachPrimary;
            }
          }
        }
        .flashcard-answers {
          display: flex;
          flex-direction: column;
          padding-top: 10px;
          button {
            flex: 1;
            color: $peachPrimary;
            background: $peachSecondaryLight;
            &:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .page-404 {
      width: 100%;
      height: 100%;
      background: $peachSecondaryLight;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      .page-404__content {
        h1 {
          font-size: 5rem;
          line-height: 7rem;
          color: $peachPrimary;
        }
        h2 {
          color: $peachPrimary;
        }
      }
    }
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body {
    .page-header {
      .page-header-text {
        font-size: 5.625rem;
        line-height: 6rem;
      }
      .error-box-text {
        font-size: 7.75rem;
        line-height: 7rem;
      }
    }
    .page-block {
      .page-block__content {
        padding: 0 10%;
        width: 100%;
        .flashcard-answers {
          margin-top: 10px;
          flex-direction: row;
          button {
            &:first-child {
              margin-right: 10px;
            }
            &:last-child {
              margin-left: 10px;
            }
          }
        }
      }
      .summary-content {
        .summary-content-text {
          font-size: 2.6rem;
        }
        button {
          margin-top: 20px;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    .page-404 .page-404__content h1 {
      font-size: 10rem;
      line-height: 11rem;
    }
    .page-block {
      .page-block__content {
        display: flex;
        justify-content: center;
        width: 600px;
        padding: 0;
        .summary-content {
          .summary-content-text {
            font-size: 2.6rem;
          }
        }
      }
    }
  }
}